{% extends 'base.html' %}

{% block all_tours %}

<main class="container mt-3">
    <!-- HERO -->
    {% include 'subtitle.html' %}
    <!-- CARDS -->
    <div class="row mt-5">
        {% set count=0 %}
        {% for key in tours %} {# заполняем карточки c информацией обо всех турах из data.py #}
        {% if loop.index < 7 %}
        <div class="col-4 d-flex">
            <div class="card mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="card-img-top embed-responsive-item" src="{{ tours[key]['picture'] }}" alt=""/>
                </div>
                <div class="card-body mb-5">
                    <h2 class="h5 card-title"> {{ tours[key]['title'] }} </h2>
                    <p class="card-text"> {{ tours[key]['description']|truncate(100) }} </p>
                    <a class="btn btn-sm btn-primary" href="{{ url_for('tours', id=key) }}">Подробнее</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</main>
{% endblock %}